{% extends 'base.html.twig' %}

{% block title %}Events index{% endblock %}

{% block body %}
    <h1>Events index</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>City</th>
                <th>Address</th>
                <th>Quantity</th>
                <th>Private_status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set status = 0 %}
        {% for event in events  %}
            {% set counter = 0 %}

            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d') : '' }}</td>
                <td>{{ event.city }}</td>
                <td>{{ event.address }}</td>
                <td>{{ event.quantity }}</td>
                <td>{{ event.privateStatus ? 'Yes' : 'No' }}</td>
                <td>
                    {% for ab in a %}

                    {% if event.id == ab.event.id %}
                        {% set status = 1 %}
                        {% set counter = 1 %}
                        {#<a href="{{ path('addtoevents', {'id': event.id}) }}">odłącz</a>#}

{% else %}
    {% set status = 0 %}
    {#<a href="{{ path('addtoevents', {'id': event.id}) }}">odłącz</a>#}
{% endif %}
{% endfor %}
                    {% if status == 0 and counter == 0 %}
                    <a href="{{ path('addtoevents', {'id': event.id}) }}">dołącz</a>
                        {% else %}
                            <a href="{{ path('addtoevents', {'id': event.id}) }}">odłącz</a>
                            {#<a href="{{ path('events_index')}}">odłącz</a>#}
                    {% endif %}
                    {#{% endfor %}#}
    <a href="{{ path('events_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('events_edit', {'id': event.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('events_new') }}">Create new</a>
{% endblock %}
